:root {
  --intro-gb-color: #1C3240;
  --text-color: #F2F2F2;
  --pd-mg-color: #8AABBF;
  --blue: #0D5B8C;
  --dk-blue: #094A73;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: var(--intro-gb-color);
  color: var(--text-color);
}

#intro {
  background-color: var(--intro-gb-color);
  width: 100%;
  height: calc(100vh - 19px);
  /* margin-top: -19px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hello {
  text-align: center;
  color: var(--text-color);
}
.fadeInDown {
  font-size: 2rem;
  animation-duration: 1.5s;
}
.fadeInUp {
  animation-delay: 1.5s;
  animation-duration: 1.5s;
}

#skillSection {
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}
#skillsH2 {
  font-size: 2rem;
  text-align: center;
  color: var(--pd-mg-color);
}
#skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
}
.skillBtn {
  width: 100px;
  height: 100px;
  font-size: 1rem;
  margin: 10px 20px;
  border: 2px solid;
  border-color: var(--pd-mg-color);
  background-color: var(--intro-gb-color);
  color: var(--pd-mg-color);
  border-radius: 50%;
  transition: .3s;
}
.skillBtn:hover {
  background-color: var(--pd-mg-color);
  color: var(--intro-gb-color);
  cursor: pointer;
}
.activeBtn, .activeBtn:hover {
  background-color: var(--pd-mg-color);
  color: var(--intro-gb-color);
  border-color: var(--intro-gb-color);
}

#projects {
  background-color: var(--text);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.projectDiv {
  position: relative;
  /* padding: 10px; */
  max-width: 50%;
  display: none;
}
.projectActive {
  display: block;
}
.project {
  display: flex;
  justify-content: center;
  width: 100%;
  /* margin: 10px; */
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(155, 155, 155, .5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.projectDiv:hover .overlay {
  height: 100%;
}
.overlayText {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* footer css */
#footerSpacer {
  width: 100%;
  height: 40px;
  background-color: var(--blue);
}
#footerCanvas {
  display: block;
  background-color: var(--blue);
}
#contact {
  font-size: 2.5rem;
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  background-color: var(--blue);
}
.contactIcon a {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--intro-gb-color);
  text-decoration: none;
  border-radius: 50%;
  border: 2px solid var(--pd-mg-color);
}
.contactIcon i {
  color: var(--pd-mg-color);
}
footer p {
  margin: 0;
  padding: 16px 0;
  text-align: center;
  background-color: var(--text-color);
  color: var(--pd-mg-color);
}