:root {
  --c-blue: rgb(80, 145, 229);
  --c-green: rgb(34, 170, 182);
  --c-yellow: rgb(252, 240, 59);
  --c-orange: rgb(255, 63, 20);
  /* --c-gray: rgb(25, 25, 31, .9); */
  --c-gray: black;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  /* background-color: lightgray; */
}

nav {
  background-color: rgb(235, 235, 235);
  color: var(--c-orange);
}

#intro {
  background-color: var(--c-gray);
  width: 100%;
  height: calc(100vh - 19px);
  /* margin-top: -19px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name {
  color: var(--c-orange);
  font-size: 4rem;
  font-weight: bold;
}
.whoAmI {
  color: var(--c-blue);
  font-size: 2rem;
  font-weight: bolder;
}
#hello {
  text-align: center;
  color: rgb(201, 201, 201);
}
.fadeInDown {
  font-size: 2rem;
  animation-duration: 1.5s;
}
.fadeInUp {
  animation-delay: 1.5s;
  animation-duration: 1.5s;
}

#skillSection {
  background-color: var(--c-gray);
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  margin-top: 20px;
}
#skillsH2 {
  font-size: 2rem;
  text-align: center;
  color: var(--c-yellow);
}
#skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
}
.skillBtn {
  width: 100px;
  height: 100px;
  font-size: 1rem;
  margin: 10px 20px;
  border: 2px solid;
  border-color: var(--c-yellow);
  background-color: var(--c-blue);
  color: var(--c-yellow);
  border-radius: 50%;
  transition: .3s;
}
.skillBtn:hover {
  background-color: var(--c-yellow);
  color: var(--c-blue);
  cursor: pointer;
}
.activeBtn, .activeBtn:hover {
  background-color: var(--c-yellow);
  color: var(--c-blue);
  border-color: var(--c-blue);
}

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 2rem auto;
  /* margin: 2rem; */
  justify-content: center;
}
.projectDiv {
  position: relative;
  max-width: 400px;
  /* padding: 10px; */
  /* max-width: calc(100% / 3); */
  /* display: none; */
}
/* .projectActive {
  display: block;
} */
.project {
  display: flex;
  justify-content: center;
  width: 100%;
  /* margin: 10px; */
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(250, 250, 250, 0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.projectDiv:hover .overlay {
  height: 100%;
}
.overlayText {
  /* color: white; */
  position: absolute;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.projectTitle {
  font-size: 2rem;
  font-weight: bolder;
  margin: 1rem 0;
  color: var(--c-orange);
}
.projectView, .projectCode {
  background-color: var(--c-blue);
  font-size: 1rem;
  color: white;
  text-decoration: none;
  /* border: 2px solid var(--c-blue); */
  margin: 0 .3rem;
  padding: .35rem .55rem;
  transition: .3s;
}
.projectView:hover, .projectCode:hover {
  background-color: var(--c-orange);
  /* color: black; */
}
.fa-chevron-right {
  font-size: .6rem;
} 

/* footer css */
#footerSpacer {
  width: 100%;
  height: 40px;
  background-color: var(--c-blue);
}
#footerCanvas {
  display: block;
  background-color: var(--c-blue);
}
#contact {
  font-size: 2.5rem;
  color: var(--c-green);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  background-color: var(--c-blue);
}
.contactIcon a {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--c-blue);
  text-decoration: none;
  border-radius: 50%;
  border: 2px solid var(--c-yellow);
}
.contactIcon i {
  color: var(--c-yellow);
}
footer p {
  margin: 0;
  padding: 16px 0;
  text-align: center;
  background-color: var(--c-green);
  color: var(--c-yellow);
}