:root {
  --c-blue: rgb(80, 145, 229);
  --c-green: rgb(34, 170, 182);
  --c-yellow: rgb(252, 240, 59);
  --c-orange: rgb(255, 63, 20);
  --c-gray: rgb(25, 25, 31, .9);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* navigation */
nav {
  background-color: rgb(235, 235, 235);
  color: var(--c-orange);
}

.transitionCanvas {
  display: block;
}
/* intro section */
#intro {
  background-color: var(--c-gray);
  width: 100%;
  height: calc(100vh - 19px);
  /* margin-top: -19px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hello {
  text-align: center;
  color: rgb(168, 168, 168);
}
.fadeInDown {
  font-weight: 300;
  font-size: 2rem;
  animation-duration: 1.5s;
}
.fadeInUp {
  font-weight: 300;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
}
.name {
  color: var(--c-blue);
  font-size: 4rem;
  font-weight: 700;
}
/* .whoAmI {
  color: var(--c-green);
  font-size: 2rem;
  font-weight: bolder;
} */

/* about section */
#aboutSection {
  display: flex;
  flex-direction: column;
}
#aboutH2, #projectsH2 {
  font-weight: 300;
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
  padding: 2.7rem 0 0;
}
.headerBar {
  width: 80px;
  height: 4px;
  background-color: rgb(122, 122, 122);
  margin: .5rem auto 2.3rem;
}
#skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 3rem auto;
  justify-content: space-evenly;
}
#languages, #frameworks, #technologies {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 250px;
  padding: 2rem;
  /* background-color: rgb(34, 34, 34); */
}
.skillH3 {
  font-size: 1.9rem;
  font-weight: 400;
  color: var(--c-blue);
}
.skillsIcon {
  font-size: 2rem;
  /* color: rgb(142, 142, 142); */
  color: var(--c-green);
}
/* .skillList {
  display: flex;
  flex-direction: column;
} */
.skillList {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0;
  margin: 0;
  list-style-type: none;
  line-height: 1.8rem;
}


/* project section */
#projectSection {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* hover filter */
#filterContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
  justify-content: center;
}
#filterBy {
  border: 2px solid var(--c-green);
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: .3s;
}
#filterBy:hover {
  background-color: var(--c-green);
  cursor: pointer;
}
#filter {
  font-weight: bolder;
  padding: 0 .4rem 0 .3rem;
  margin: 0;
}
.filterArrow {
  color: rgb(82, 82, 82);
  font-size: .8rem;
}
.filterOptions {
  background-color: rgb(250, 250, 250);
  text-align: center;
  border: 2px solid var(--c-green);
  border-top: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: inherit;
  position: absolute;
  top: 55px;  /*55*/
  transition: .4s;
  overflow: hidden;
}

.filterBySkill {
  margin: 0;
  padding: 0;
}
.selectSkill {
  background-color: inherit;
  list-style-type: none;
  padding: .3rem .5rem;
  cursor: pointer;
  transition: .3s;
}
.selectSkill:hover {
  background-color: var(--c-green);
}

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 95%;
  margin: 3rem auto 0;
  padding-bottom: 3.5rem;
  justify-content: center;
}
.projectDiv {
  position: relative;
  max-width: 400px;
  /* padding: 10px; */
  /* max-width: calc(100% / 3); */
  display: none;
}
.projectActive {
  display: block;
}
.project {
  display: flex;
  justify-content: center;
  width: 100%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(63, 63, 63, .9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.projectDiv:hover .overlay {
  height: 100%;
}
.overlayText {
  /* color: white; */
  /* position: absolute;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem;
}
.projectTitle {
  font-size: 1.9rem;
  font-weight: 700;
  margin: .75rem 0;
  color: var(--c-green);
}
.projectAbout {
  margin: 0 0 1.75rem;
  color: rgb(99, 99, 99);
}
.projectSkillList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
  justify-content: space-evenly;
}
.projectSkill {
  color: white;
  line-height: 1.5rem;
  font-size: 1.1rem;
  font-weight: 100;
  margin: 0 .6rem;
}
.buttonDiv {
  margin-top: 3rem;
}
.projectView, .projectCode {
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  border: 2px solid var(--c-green);
  font-weight: 300;
  margin: 0 .3rem;
  padding: .5rem 1.2rem;
  transition: .3s;
}
.projectView:hover, .projectCode:hover {
  background-color: var(--c-green);
}
.fa-chevron-right {
  font-size: 1rem;
  color: rgb(255, 255, 255, .9);
} 

/* footer css */
#footerSpacer {
  width: 100%;
  height: 40px;
  background-color: var(--c-gray);
}
#footerCanvas {
  display: block;
  background-color: var(--c-gray);
}
#contact {
  font-size: 2.5rem;
  color: var(--c-green);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  background-color: var(--c-gray);
}
.contactIcon a {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* background-color: var(--c-blue); */
  text-decoration: none;
  border-radius: 50%;
  border: 2px solid var(--c-green);
}
.contactIcon i {
  color: var(--c-green);
}
footer p {
  margin: 0;
  padding: 16px 0;
  font-weight: 100;
  text-align: center;
  background-color: var(--c-gray);
  color: rgb(138, 138, 138);
}