:root {
  --c-blue: rgb(80, 145, 229);
  --c-green: rgb(34, 170, 182);
  --c-yellow: rgb(252, 240, 59);
  --c-orange: rgb(255, 63, 20);
  --c-gray: rgb(25, 25, 31);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: var(--c-gray);
}
html {
  scroll-behavior: smooth;
}

nav {
  background-color: var(--c-gray);
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
}
#navDiv {
  display: flex;
  width: 75%;
  margin: 0 auto;
  justify-content: space-between;
}
#navDiv button {
  background-color: transparent;
  border: none;
  padding: .7rem 0;
}
#navDiv button:focus {
  background-color: rgb(70, 70, 70);
}
#navDiv a {
  font-size: 1.2rem;
  font-weight: 300;
  text-decoration: none;
  color: rgb(168, 168, 168);
}
#navDiv button.active a {
  color: var(--c-orange);
}
#navSpacer {
  height: 1px;
  background-color: var(--c-orange);
}

main {
  margin-top: 45.9px;
}
/* section transition canvas */
.transitionCanvas {
  display: block;
}

/* intro section */
#intro {
  background-color: var(--c-gray);
  width: 100%;
  height: calc(100vh - 45.4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#hello {
  text-align: center;
  color: rgb(242, 242, 242);
}
.fadeInDown {
  font-weight: 300;
  font-size: 2rem;
  animation-duration: 1.5s;
  margin-top: 0;
}
.fadeInUp {
  font-weight: 300;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
}
.name {
  color: var(--c-blue);
  font-size: 4rem;
  font-weight: 700;
}
/* .whoAmI {
  color: var(--c-green);
  font-size: 2rem;
  font-weight: bolder;
} */

/* about section */
#aboutSection {
  display: flex;
  flex-direction: column;
  background-color: rgb(64, 66, 68);
  min-height: 100vh;
}
.headerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto 1.5rem;
  padding-top: 3rem;
  justify-content: center;
}
.sectionHeader {
  font-weight: 300;
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
  padding: 2.7rem 0 0;
  color: var(--c-orange);
}
.headerBarContainer {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  animation-delay: 0.3s;
}
.headerBar {
  width: 80px;
  height: 4px;
  background-color: var(--c-green);
}
#skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 2rem auto;
  justify-content: space-evenly;
}
#languages {
  animation-delay: .9s;
}
#technologies {
  animation-delay: .6s;
}
#frameworks {
  animation-delay: .3s;
}
#languages, #frameworks, #technologies {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 250px;
  padding: 2rem;
}
.skillH3 {
  font-size: 1.9rem;
  font-weight: 400;
  color: var(--c-blue);
}
.skillsIcon {
  font-size: 2rem;
  color: var(--c-green);
}
.skillList {
  color: rgb(200, 198, 198);
  display: flex;
  flex-direction: column;
}
.skillList {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0;
  margin: 0;
  list-style-type: none;
  line-height: 1.8rem;
}

/* project section */
#projectSection {
  background-color: var(--c-gray);
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

/* hover filter */
#filterContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  animation-delay: .6s;
}
#filterBy {
  border: none;
  color: rgb(200, 198, 198);
  font-size: 1.2rem;
  font-weight: 100;
  padding: 1rem 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: .3s;
}
#filterBy:hover {
  cursor: pointer;
}
#filter {
  color: var(--c-green);
  font-weight: 400;
  padding: 0 .4rem 0 .3rem;
  margin: 0;
}
.filterArrow {
  color: rgb(200, 198, 198);
  font-size: .8rem;
}
.filterOptions {
  background-color: rgb(250, 250, 250);
  text-align: center;
  border: 2px solid var(--c-green);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: inherit;
  position: absolute;
  top: 51px;  /*55*/
  transition: .4s;
  overflow: hidden;
}
.filterBySkill {
  margin: 0;
  padding: 0;
}
.selectSkill {
  background-color: inherit;
  list-style-type: none;
  padding: .4rem .5rem;
  cursor: pointer;
  transition: .3s;
}
.selectSkill:hover {
  background-color: var(--c-green);
}

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 95%;
  margin: 3rem auto;
  padding-bottom: 3.5rem;
  justify-content: center;
}
.projectDiv {
  position: relative;
  max-width: 400px;
  display: none;
}
.projectActive {
  display: block;
}
.project {
  display: flex;
  justify-content: center;
  width: 100%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(45, 45, 45, .9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.projectDiv:hover .overlay {
  height: 100%;
}
.overlayText {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem;
}
.projectTitle {
  font-size: 1.9rem;
  font-weight: 700;
  margin: .75rem 0;
  color: var(--c-blue);
}
.projectAbout {
  margin: 0 0 1.75rem;
  color: rgb(99, 99, 99);
}
.projectSkillList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
  justify-content: space-evenly;
}
.projectSkill {
  color: white;
  line-height: 1.5rem;
  font-size: 1.1rem;
  font-weight: 100;
  margin: 0 .6rem;
}
.buttonDiv {
  margin-top: 3rem;
}
.projectView, .projectCode {
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  border: 2px solid var(--c-blue);
  font-weight: 300;
  margin: 0 .3rem;
  padding: .5rem 1.2rem;
  transition: .3s;
}
.projectView:hover, .projectCode:hover {
  background-color: var(--c-blue);
}
.fa-chevron-right {
  font-size: 1rem;
  color: rgb(255, 255, 255, .9);
} 

/* footer css */
footer {
  background-color: rgb(64, 66, 68);
}
#contact {
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
}
.contactIcon a {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 50%;
  border: 2px solid;
  border-color: var(--c-blue);
  background-color: transparent;
  color: var(--c-blue);
  transition: .3s;
}
.contactIcon:hover a {
  border-color: var(--c-blue);
  background-color: var(--c-blue);
  color: rgb(64, 66, 68);
}
footer p {
  margin: 0;
  padding: 16px 0;
  font-weight: 100;
  text-align: center;
  color: rgb(138, 138,138);
}